:root {
  --bg: rgb(15, 9, 23);
  --font: lightgrey;
  --font-dim: grey;
  --font-info: rgba(0, 255, 255, 0.735);

  /* --pr-bg: rgba(162, 162, 162, 0.122);
   */
  --toolbar-bg: rgba(66, 37, 93, 0.208);
  --toolbar-bg-high: rgba(66, 37, 93, 0.623);

  --print-bg: #fffdd0;

  /* cell */
  --cell: rgba(90, 64, 120, 0.263);
  --cell-high: rgba(90, 64, 120, 0.486);
  --cell-border: rgba(154, 132, 187, 0.728);

  --hlighter: rgba(128, 67, 164, 0.479);
  --hcol: rgb(222, 197, 238);
  --hpcol: rgb(110, 8, 179);

  /* in print mod */
  --header: rgba(97, 66, 122, 0.973);

  /* generic btn */
  --btn: rgba(97, 97, 196, 0.353);
  --btn-high: rgba(103, 103, 237, 0.64);

  --ttlbar: #030d302d;
}
