* {
  padding: 0;
  /* color: lightgrey; */

  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-fam);
}

.hidden {
  display: none !important;
}

body {
  /* overflow: hidden; */
  background-color: var(--bg);
  opacity: 0;
}
body.loaded {
  opacity: 1;
}
#file-info {
  font-weight: bold;
}
h {
  background-color: var(--hlighter) !important;
  color: var(--hcol) !important;
  padding: 0 6px;
}
.cell:has(c) {
  text-align: center !important;
}

.grid-container {
  /* flex: 1; */
  color: var(--font);
  overflow: auto;
  /* height: 100%; */
  height: calc(100vh - 120px);
  width: 100vw;
}
/* .tool-bar {
  margin: 0.5rem 1rem;
  border-radius: 4px;
  height: 30px;
  background-color: rgb(34, 32, 32);
} */

/* Minimal Modern Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--btn-high);
}
/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--btn) transparent;
}
body {
  margin: 0;
  /* overflow: hidden; */
}

.titlebar {
  display: flex;
  justify-content: space-between;
  height: 32px;
  background: var(--ttlbar);
  color: #fff;
  margin-top: 0.1rem;
  user-select: none;
  /* border: 1px solid grey; */
  -webkit-app-region: drag; /* Makes it draggable */
}

.titlebar > div {
  -webkit-app-region: no-drag;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  /* background-color: #5f22c061; */
  border-radius: 3px;
  margin: 0.4rem;
  padding: 0 0.2rem;
}

.titlebar > h4 {
  display: flex;
  align-items: center;
  /* font-variant: small-caps; */
  color: var(--font-info);
  text-transform: lowercase;
  background-color: var(--toolbar-bg-high);
  border-radius: 4px;
  height: fit-content;
  margin: auto;
  padding: 0 0.5rem;
  /* border: 1px solid red; */
  /* padding: auto; */
}
.titlebar > div:last-child > button {
  background-color: transparent;
  font-weight: bolder;
  font-size: medium;
}
.titlebar > div:last-child > button:hover {
  background-color: var(--btn-high);
}

.titlebar > div:first-child > button {
  background-color: transparent;
  /* font-weight: bold; */
  font-weight: normal;
  border-radius: 5px;
  font-size: 15px;
  padding: 0 0.5rem;
}

.titlebar > div:first-child > button:hover {
  background-color: var(--btn-high);
}
