* {
  padding: 0;
  /* color: lightgrey; */

  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --bg: rgb(15, 9, 23);
  --pr-bg: rgba(162, 162, 162, 0.122);
  --cell: rgba(90, 64, 120, 0.263);
  --cell-high: rgba(90, 64, 120, 0.486);
  --header: rgba(97, 66, 122, 0.973);
  --color: lightgrey;
  --cell-border: rgba(154, 132, 187, 0.728);
  --btn: rgb(97, 97, 196);
  --btn-high: rgb(103, 103, 237);
}

body {
  /* overflow: hidden; */
  background-color: var(--bg);
}

.grid-container {
  /* flex: 1; */
  color: lightgrey;
  overflow: auto;
  /* height: 100%; */
  height: 92vh;
  width: 100vw;
}
/* .tool-bar {
  margin: 0.5rem 1rem;
  border-radius: 4px;
  height: 30px;
  background-color: rgb(34, 32, 32);
} */

/* Minimal Modern Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--btn);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--btn-high);
}
/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--btn) transparent;
}

#file {
  display: none;
}
